<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Draw Together</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
  <!-- NAVIGATION -->
   <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">GENE GRILLI</a>
      </div>
      <div class="collapse navbar-collapse" id ="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">DRAWING</a></li>
          <li><a href="#">BLACKJACK</a></li>
          <li><a href="#">FOOD</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- DRAWING -->
    <div class ="container-fluid bg-1 text-center">
     <h1>Drawing With Friends</h1>
     <canvas class="img-responsive" width="600" height="600" style="display:inline"></canvas>
     <p>Use your mouse to draw your image.</p>
    </div>
    <div class="container-fluid bg-2 text-center">
      <h3 class="margin">Pen Color</h3>
      <p>Change the color your pen is using.</p>
      <div class="row">
        <div class="col-sm-12">
          <button onclick="changeBlack()" id="black" class="btn btn-default btn-sm">Black</button>
          <button onclick="changeBlue()" href="#" id="blue" class="btn btn-default btn-sm">Blue</button>
          <button onclick="changeRed()" id="red" class="btn btn-default btn-sm">Red</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button onclick="changeYellow()" id="yellow" class="btn btn-default btn-sm">Yellow</button>
          <button onclick="changeGreen()" id="green" class="btn btn-default btn-sm">Green</button>
          <button onclick="changeEraser()" id="eraser" class="btn btn-default btn-sm">Eraser</button>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-3 text-center">
      <h3 class="margin">Pen Thickness</h3>
      <p>Change the size of your pen.</p>
      <div class="row">
        <div class="col-sm-12">
          <button onclick="changeThin()" id="thin" class="btn btn-default btn-sm">Thin</button>
          <button onclick="changeMedium()" id="medium" class="btn btn-default btn-sm">Medium</button>
          <button onclick="changeThick()" id="thick" class="btn btn-default btn-sm">Thick</button>
        </div>
      </div>
    </div>
    
<!-- CHAT -->
    <div classclass="container-fluid text-center">
      <form action=""> 
        <div class="row">
          <div class="col-sm-6">
            <input id="m" autocomplete="off">
            <button id="send" class="btn btn-default btn-sm">Send</button>
          </div>
          <div class="col-sm-6">
            <button onclick="clearMessages()" id="clear" class="btn btn-default btn-sm">Clear</button>     
            <ul id="messages"></ul>
          </div>
        </div>
      </form>
  </div>
<!-- FOOTER -->
    <div class="container-fluid footer bg-4">
      <h4>Contact:</h4>
      <div class="row">
        <div class="col-sm-6">
          <ul>
            <li><a href="">Phone</a></li>
            <li><a href="">Email</a></li>
            <li><a href="">LinkedIn</a></li>
            <li><a href="">GitHub</a></li>
          </ul>
      <h6> Gene Grilli Produtions</h6>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/frontend.js"></script>
    <script>
      $(function () {
        var socket = io();
        $('form').submit(function(){
          socket.emit('chat message', $('#m').val());
          console.log($('#m').val());
          $('#m').val('');
          return false;
        });
        socket.on('chat message', function(msg){
          $('#messages').prepend($('<li>').text(msg));
          window.scrollTo(0, document.body.scrollHeight);
        });
      });
    </script>
  </body>
</html>